
/*-------- Header Styles  ----------*/

.center{
    text-align:center;
}

.header{
    background-image: linear-gradient(to right,red, yellow, blue, red );
    font-size: 2em;
    width: 90%;
    margin-left: 5%;
}

#main-nav{
    list-style-type: none;
    padding:0;
}

#main-nav a{
    display:block;
    text-decoration: none;
    color: white;
    width: 100%;
}


/*--------Cotent Styles---------*/


