
/*-------- Header Styles  ----------*/

.center{
    text-align:center;
}

.header{
    background-image: linear-gradient(to right,red, yellow, blue, red );
}

.header h1{
    font-size: 200px;
    margin: 0;
}

.header h2{
    font-size: 100px;
    margin: 0;
}

#main-nav{
    list-style-type: none;
    font-size: 3.5em;
}

#main-nav a{
    text-decoration: none;
}

/*--------Cotent Styles---------*/


