/*-------- Header Styles  ----------*/

.center{
    text-align:center;
}

.header{
    background-image: linear-gradient(to right,red, yellow, blue, red );
    font-size: 2em;
    width: 90%;
    margin-left: 5%;
}

.header h1{
    margin: 0;
    padding-top: 5%;
  }
  
.header h2{
    margin-top: 0;
}

#main-nav{
    list-style-type: none;
    padding:0;
    font-size:1.5em;
}

#main-nav a{
    display:block;
    text-decoration: none;
    color: white;
    width: 100%;
}


/*--------Cotent Styles---------*/

.product{
    display:flex;
    font-size: 2em;
    width:90%;
    margin-left:5%;
    border: 1px solid black;
    margin-bottom: 10px;
}

.product img{
    height: 350px;
    width: 30%;
}

.product p{
    padding: 25px;
    width: 100%;
}

.product button{
    width: 100%;
    flex-wrap:wrap;
    font-size: 1em;
}
