/*-------- Header Styles  ----------*/

.header{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right,red, yellow, blue, red );
    font-size: 2em;
    width: 90%;
    margin-left: 5%;
    text-align:center;
}

#btn-cart{
    border-radius: 50%;
    margin-left: auto;
    height: 80px;
    width: 72px;
}

#btn-cart img{
    height: 60px;
}

.header h1{
    margin: 0;
    padding-top: 5%;
  }
  
.header h2{
    margin: 0;
}


/*----- Main Navigation -------*/


#main-nav{
    list-style-type: none;
    padding:0;
    font-size: 1.4em;
}

#main-nav a{
    display:block;
    text-decoration: none;
    color: white;
    width: 100%;
}


/*--------Product List Styles---------*/

.product{
    display:flex;
    font-size: 2em;
    width:90%;
    margin-left:5%;
    border: 1px solid black;
    margin-bottom: 10px;
}

.product img{
    height: 350px;
    width: 30%;
}

.product p{
    padding: 25px;
    width: 100%;
}

.product button{
    width: 100%;
    flex-wrap:wrap;
    font-size: 1em;
}

.content {
    font-size: 1.5em;
    width: 90%;
    margin-left:5%;
    background-color:  #87ea85;
    text-indent: 15px;
    
}
.content input{
    margin-left: 10px;
    font-size: 1em;
    margin-top: 4px;
    margin-bottom:5px;
}

/*--------Quiz Styles---------*/

#answers {
    display: none;
    padding-left: 15px;
    padding-bottom: 15px;
}

footer {
    text-align: center;
    font-size:1.3em;
  }

/* ------Media Queries----- */

@media only screen and (min-width: 992px) {

    .header {
      display: inline-flex;
    }
  
    #main-nav {
        order: 1;
        text-align: left;
        display: inline-flex;
        float: left;
        justify-content: space-around;
      }
    #main-nav li {
      border: 3px black solid;
    }
  
    .btn-cart{
        order: 2;
      }
    .main-header{
        order: 3;
        padding-bottom: 5%;
      }

}      